#pragma once

#define __IP(a, b, c, d) a, b, c, d // Bit nicer representation and some arg checking

/* Wifi Config */
#define WIFI_SSID "your_SSID"
#define WIFI_PSK  "your_PSK"

/* MQTT Config */
#define MQTT_HOST __IP(192, 168, 1, 255)
#define MQTT_PORT 1883

/* LED Matrix Config */
#define MAT_PIN_R1  22
#define MAT_PIN_G1  23
#define MAT_PIN_B1  21

#define MAT_PIN_R2  18
#define MAT_PIN_G2  19
#define MAT_PIN_B2  5

#define MAT_PIN_A   14
#define MAT_PIN_B   12
#define MAT_PIN_C   26
#define MAT_PIN_D   27
#define MAT_PIN_E   -1

#define MAT_PIN_CLK 33
#define MAT_PIN_LAT 25
#define MAT_PIN_OE  32

#define MAT_RES_X   64
#define MAT_RES_Y   32
#define MAT_CHAIN   1

// Should we double-buffer our matrix or not
#define MAT_DOUBLE_BUFF

/* Time config */
#define TIME_TIMEZONE "America/Chicago"
